In [1]:
import pymongo

In [2]:
dbconn=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [3]:
dbname='demodb'

In [6]:
db=dbconn[dbname]

In [10]:
print(dbconn.list_database_names())

['admin', 'config', 'demodb', 'local', 'tut']

In [11]:
collection_name='mongo_demo'
collection=db[collection_name]

In [12]:
if collection_name in db.list_collection_names():
    print("the collection exists")
else:
    print("the collection does not exist")

the collection exists

In [13]:
my_row={
    'Serial No':'9998',
    'GRE Score':'337',
    'TOEFL Score':'118',
    'University Rating':'4',
    'SOP':'4.5',
    'LOR':'4.5',
    'CGPA':'9.65',
    'Research':'1',
    'Chance of Admit':'0.92'
}

In [14]:
x=collection.insert_one(my_row)

In [15]:
print(x.inserted_id)

5eafa97d6c9809fb14e3a69e

In [16]:
my_rows=[
    {
    'Serial No':'9997',
    'GRE Score':'336',
    'TOEFL Score':'119',
    'University Rating':'5',
    'SOP':'3.5',
    'LOR':'3.5',
    'CGPA':'9.45',
    'Research':'1',
    'Chance of Admit':'0.96' 
    },
    {
      'Serial No':'9996',
    'GRE Score':'338',
    'TOEFL Score':'118',
    'University Rating':'4',
    'SOP':'4.5',
    'LOR':'4.5',
    'CGPA':'9.65',
    'Research':'1',
    'Chance of Admit':'0.92'  
    }
]

In [17]:
x=collection.insert_many(my_rows)

In [18]:
print(x.inserted_ids)

[ObjectId('5eafaa8a6c9809fb14e3a69f'), ObjectId('5eafaa8a6c9809fb14e3a6a0')]

In [20]:
result=collection.find({})
result[2]

{'_id': ObjectId('5eafaa8a6c9809fb14e3a6a0'),
 'Serial No': '9996',
 'GRE Score': '338',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [21]:
result=collection.find({}).limit(2)
for res in result:
    print(res)

{'_id': ObjectId('5eafa97d6c9809fb14e3a69e'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eafaa8a6c9809fb14e3a69f'), 'Serial No': '9997', 'GRE Score': '336', 'TOEFL Score': '119', 'University Rating': '5', 'SOP': '3.5', 'LOR': '3.5', 'CGPA': '9.45', 'Research': '1', 'Chance of Admit': '0.96'}

In [22]:
result=collection.find({},{'GRE Score','TOEFL Score'})
for res in result:
    print(res)

{'_id': ObjectId('5eafa97d6c9809fb14e3a69e'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5eafaa8a6c9809fb14e3a69f'), 'GRE Score': '336', 'TOEFL Score': '119'}
{'_id': ObjectId('5eafaa8a6c9809fb14e3a6a0'), 'GRE Score': '338', 'TOEFL Score': '118'}

In [24]:
mydb_query={'GRE Score':'337'}
result_gre=collection.find(mydb_query)
for res in result_gre:
    print(res)

{'_id': ObjectId('5eafa97d6c9809fb14e3a69e'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [27]:
mydb_query={'GRE Score':{'$gt':'337'}}
result_gre=collection.find(mydb_query)
for res in result_gre:
    print(res)

{'_id': ObjectId('5eafaa8a6c9809fb14e3a6a0'), 'Serial No': '9996', 'GRE Score': '338', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [29]:
mydb_query={'GRE Score':{'$lt':'340'}}
result_gre=collection.find(mydb_query).sort('GRE Score',-1)
for res in result_gre:
    print(res)

{'_id': ObjectId('5eafaa8a6c9809fb14e3a6a0'), 'Serial No': '9996', 'GRE Score': '338', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eafa97d6c9809fb14e3a69e'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5eafaa8a6c9809fb14e3a69f'), 'Serial No': '9997', 'GRE Score': '336', 'TOEFL Score': '119', 'University Rating': '5', 'SOP': '3.5', 'LOR': '3.5', 'CGPA': '9.45', 'Research': '1', 'Chance of Admit': '0.96'}

In [31]:
mydb_query={'GRE Score':'338'}
x=collection.delete_one(mydb_query)#delete_many for many and delete_many({}) for all
print(x.deleted_count)

1

In [32]:
#collection_to_drop=db['collection_name']
#collection_to_drop.drop()
#drop the collection/table

In [33]:
update_criteria={'GRE Score':'336'}
new_values={'$set':{'GRE Score':'340'}}
x=collection.update_many(update_criteria,new_values)
print(x.modified_count)

1